#forgot-password-page{
    background-color: rgb(219, 216, 211);
    height: 540px;
}

#reset-password-form{
    width: 450px;
    background-color: white;
    padding: 30px;
    position: absolute;
    left: 38%;
    top: 130px;
}